{% extends 'base.html' %}
{% block content %}
    <h1>Acerca de Nosotros</h1><br>
    <h4>Sistema contable familiar 1.0.</h3>
    <strong>
        Es un sistema destinado a controla básico de ingresos y egresos de una familia, para poder tener
        un mejor control de la economía familiar
    </strong>
    <br><br>
    <h4>Sobre Nosotros</h4>
    <strong>Facundo Fierro</strong>
    <p>Nacido en Cordoba Capital, Republica Argentina</p>
    <strong>Federico marra</strong>
    <p>Nacido en Rosario, Santa fe, Republica Argentina</p>
    
{% endblock content %}
