<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ContabilidadApp</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <a href="{% url 'profile' user.id %}">Mi Perfil</a>
            <a href="{% url 'logout' %}">Salir</a>
        {% else %}
            <a href="{% url 'login' %}">Entrar</a>
            <a href="{% url 'signup' %}">Crear Cuenta</a>
        {% endif %}
        <div class="sidenav"></div>
        {% block content %}
        {% endblock content %}
        <p></p>
        {% if user.is_authenticated %}
            <a href="/index">Indice</a>
        {% else %}
            <a href="/">Inicio</a>
        {% endif %}
        <a href="#" onclick="history.go(-1)">Atrás</a>
    </body>
</html>
