{% extends 'base.html' %}
{% block content %}
    <h2>Lista de Egresos</h2>
    <div>
        <a href="{% url 'egreso_new' %}">Cargar</a>
    </div>
    <div>
        <p></p>
        {% if object_list %}
            {% for egreso in object_list %}
                ID: {{ egreso.id }}
                <br>
                Tipo Egreso: {{egreso.tipo_egreso}}
                <br>
                Nombre: {{ egreso.nombre }}
                <br>
                Descripcion: {{ egreso.descripcion }}
                <br>
                Monto: {{egreso.monto}}
                <br>
                Fecha: {{egreso.fecha}}
                <br>
                <a href="{% url 'egreso_detail' egreso.id %}">Detalle</a>
                <a href="{% url 'egreso_edit' egreso.id %}">Actualizar</a>
                <a href="{% url 'egreso_delete' egreso.id %}">Borrar</a>
                <p></p>
            {% endfor %}
        {% else %}
            <p>No hay egresos registrados</p>
        {% endif %}
        <p></p>
    </div>
{% endblock content %}
