
<style>
    #barra{
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }

    #barra li{
        display: inline;
        margin: 0 20px;

    }

</style>
<body>
    <lu id="barra">
        <li><a href="{% url 'busqueda' %}">Busqueda</a></li>
        <li><a href="{% url 'ingreso' %}">Ingresos</a></li>
        <li><a href="{% url 'egreso' %}">Egresos</a></li>
        <li><a href="{% url 'tiposEgresos' %}">Tipos de Egresos</a></li>
        <li><a href="{% url 'personas' %}">Personas</a></li>



    </lu>
