{% extends "index.html" %}


{% block content %}
<form action="" method="post" align="center">
    <h2>{{ mensaje }}</h2>
    {% csrf_token %}
    <h1 style="text-align: center;"><big>Ingrese el valor a registrar</big></h1>
    <h2 style="text-align:center">{{ form }}</h2>
    <input type="submit" value="Enter">
</form>
{% if tipo == "ingresos" %}
    {% if ingresos %}
        {% for n in ingresos %}
            <li>Nombre: {{ n.dequien }}</li>
            <li>Descripcion: {{ n.descripcion }}</li>
            <li>Monto: {{ n.monto }}</li>
            <li>Fecha: {{ n.fecha }}</li>
            <br>
            <br>
        {% endfor %}
    {% endif %}
{% endif %}

{% if tipo == "egresos" %}
    {% if egresos %}
        {% for n in egresos %}
            <li>tipo: {{ n.tipo }}</li>
            <li>Descripcion: {{ n.descripcion }}</li>
            <li>Monto: {{ n.monto }}</li>
            <li>Fecha: {{ n.fecha }}</li>
            <br>
            <br>
        {% endfor %}
    {% endif %}
{% endif %}

{% if tipo == "tipo_egresos" %}
    {% if tipos %}
        {% for n in tipos %}
            <li> {{n.tipos}}</li>
            <br>
            <br>
        {% endfor %}
    {% endif %}
{% endif %}

{% if tipo == "personas" %}
    {% if personas %}
        {% for n in personas %}
            <li>{{n.nombres}}</li>
            <br>
            <br>
        {% endfor %}
    {% else %}
        <p>Realice una busqueda por favor</p>
    {% endif %}
{% endif %}

{% endblock %}