<form action="" method="post" align="center">
    <h2></h2>
    {% csrf_token %}
    <h1 style="text-align: center;"><big>Ingrese el valor a registrar</big></h1>
    <h2 style="text-align:center">
<label for="id_dequien">Nombre:</label>

  
  <select name="dequien" id="id_dequien">
<option value="Federico">Federico</option>

<option value="Mariana">Mariana</option>

<option value="MICA">MICA</option>

<option value="Miguel">Miguel</option>

<option value="mariano">mariano</option>

<option value="Obvidio">Obvidio</option>

<option value="Susana">Susana</option>

<option value="Viviana">Viviana</option>

<option value="Nancy">Nancy</option>

</select>
  
<label for="id_descripcion">Descripcion:</label>
  
  <input type="text" name="descripcion" maxlength="1000" required="" id="id_descripcion">
  
<label for="id_monto">Monto:</label>

   <input type="number" name="monto" required="" id="id_monto">
  
<label for="id_fecha">Fecha:</label>
  
  <input type="text" name="fecha" required="" id="id_fecha">

</h2>
    <input type="submit" value="Agregar">
</form>