{% extends "index.html" %}

{% block content %}
    <h1>Pagina de Tipos Egresos</h1>
    <form action="" method="post" align="center">
        <h2>{{ mensaje }}</h2>
        {% csrf_token %}
        <h1 style="text-align: center;"><big>Ingrese el tipo de Egreso</big></h1>
        <h2 style="text-align:center">{{form}}</h2>
        <input type="submit" value="Agregar">
        <br>
        <br>
        <!-- <a href="{% url 'mostrarEgresos' %}">Tipos de egresos cargados</a>-->
    </form>



{% endblock %}