{% extends 'base.html' %}
{% block content %}
    <h2>Lista de tipos de egresos</h2>
    <div>
        <a href="{% url 'tipo_egreso_new' %}">Cargar</a>
    </div>
    <div>
        <p></p>
        {% if object_list %}
            {% for tipo_egreso in object_list %}
                ID: {{ tipo_egreso.id }}
                <br>
                Nombre: {{ tipo_egreso.nombre }}
                <br>
                <a href="{% url 'tipo_egreso_detail' tipo_egreso.id %}">Detalle</a>
                <a href="{% url 'tipo_egreso_edit' tipo_egreso.id %}">Actualizar</a>
                <a href="{% url 'tipo_egreso_delete' tipo_egreso.id %}">Borrar</a>
                <p></p>
            {% endfor %}
        {% else %}
            <p>No hay egresos cargados</p>
        {% endif %}
        <p></p>
    </div>
{% endblock content %}
