{% extends 'base.html' %}
{% block content %}
    <ul>
        {% load static %}
        <img src="{% static 'avatars/avatar.jpg' %}">
        {% comment %} {% load static %}
        <img src="{% static '/avatars/avatar.jpg' %}" alt="image">
        {% if object_list %}
            <a href="{% url 'update_avatar' user.id %}">Modificar Avatar</a>
        {% else %}
            <a href="{% url 'create_avatar' user.id %}">Modificar Avatar</a>
        {% endif %} {% endcomment %}
        <li>Nombre: {{ object.first_name }}</li>
        <li>Apellido: {{ object.last_name }}</li>
        <li>Correo electronico: {{ object.email }}</li>
        <li>Nombre de Usuario: {{ object.username }}</li>
    </ul>
    <a href="{% url 'update' user.id %}">Editar</a>
{% endblock content %}
