{% extends 'base.html' %}
{% block content %}
    <img height="128" src='{{object.avatar_set.last.image.url}}' />
    <ul>
        {% if object.avatar_set.last.image.url %}
            <a href="{% url 'agregar_avatar' %}">Modificar Avatar</a>
        {% else %}
            <a href="{% url 'agregar_avatar' %}">Crear Avatar</a>
        {% endif %} 
      
        <li>Nombre: {{ object.first_name }}</li>
        <li>Apellido: {{ object.last_name }}</li>
        <li>Correo electronico: {{ object.email }}</li>
        <li>Nombre de Usuario: {{ object.username }}</li>
    </ul>
    <a href="{% url 'update' user.id %}">Editar</a>
{% endblock content %}
