{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scpoe="col">Monto</th>
                            <th scpoe="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{ object.nombre }}</th>
                            <th>{{ object.descripcion }}</th>
                            <th>{{ object.monto }}</th>
                            <th>{{ object.fecha }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
