{% extends 'base.html' %}
{% block content %}
    <h2>Lista de Ingresos</h2>
    <div>
        <a href="{% url 'ingreso_new' %}">Cargar</a>
    </div>
    <div>
        <p></p>
        {% if object_list %}
            {% for ingreso in object_list %}
                ID: {{ ingreso.id }}
                <br>
                Nombre: {{ ingreso.nombre }}
                <br>
                Descripcion: {{ ingreso.descripcion }}
                <br>
                Monto: {{ingreso.monto}}
                <br>
                Fecha: {{ingreso.fecha}}
                <br>
                <a href="{% url 'ingreso_detail' ingreso.id %}">Detalle</a>
                <a href="{% url 'ingreso_edit' ingreso.id %}">Actualizar</a>
                <a href="{% url 'ingreso_delete' ingreso.id %}">Borrar</a>
                <p></p>
            {% endfor %}
        {% else %}
            <p>No hay ingresos registrados</p>
        {% endif %}
        <p></p>
    </div>
{% endblock content %}
